@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --orange-color: #FF5722;
  --orange-dark-color: #DD2C00;
  --blue-color: #10375C;
  --blue-dark-color: #0D2C4A;
  --black-color: #222831;
  --white-color: #ffffff;
  --grey-dark-color: #6A6A6A;
  --grey-subtitle: #9A9A9A;
  --font-size-h2: 4rem;
  --font-size-big-subtitle: 2rem;
  --font-size-subtitle: 1.8rem;
  --font-family-Lato: "Lato", sans-serif;
  --font-family-Lora: "Lora", serif;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0px 15px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title {
  color: var(--blue-color);
  font-size: var(--font-size-h2);
  font-family: var(--font-family-Lora);
  margin: 0;
}

.subtitle {
  color: var(--grey-subtitle);
  font-size: var(--font-size-subtitle);
  font-family: var(--font-family-Lato);
  font-weight: 500;
}

.button {
  background-color: var(--orange-color);
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
  -webkit-transition: 0.2s ease-in-out background-color, 0.2s ease-in-out box-shadow;
  transition: 0.2s ease-in-out background-color, 0.2s ease-in-out box-shadow;
}
.button__text {
  color: var(--white-color);
  font-weight: 700;
}
.button__text-orange {
  color: var(--orange-color);
}
.button:hover {
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 4px 16px rgba(16, 55, 92, 0.32);
          box-shadow: 0px 4px 16px rgba(16, 55, 92, 0.32);
}
.button-white {
  background-color: var(--white-color);
}
.button-white:hover {
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 4px 16px rgba(16, 55, 92, 0.32);
          box-shadow: 0px 4px 16px rgba(16, 55, 92, 0.32);
}
.button-white:hover .button__text-orange {
  color: var(--white-color);
}

.link-arrow {
  color: var(--orange-color);
  font-size: 1.6rem;
  line-height: 26px;
  position: relative;
  font-family: var(--font-family-Lato);
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.link-arrow:after {
  content: " ";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../img/chevron-right-orange.svg");
  background-size: 30px 30px;
  vertical-align: middle;
  margin-left: 10px;
}
.link-arrow:hover {
  color: var(--blue-color);
}
.link-arrow:hover:after {
  visibility: hidden;
}

.section-name {
  font-family: var(--font-family-Lato);
  font-size: var(--font-size-big-subtitle);
  color: var(--black-color);
}
.section-name::after {
  content: "";
  display: inline-block;
  width: 73px;
  height: 2px;
  background-color: var(--black-color);
  vertical-align: middle;
  margin-left: 15px;
}

.header {
  font-family: var(--font-family-Lato);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  margin: 6rem auto;
  width: 100%;
  height: 4.3rem;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  height: 2.5rem;
  width: 8.6rem;
}
.header__nav {
  max-width: 560px;
  width: 100%;
  margin-left: 106px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  line-height: 1.6rem;
  height: 100%;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  line-height: 40px;
}
.nav__link {
  color: var(--black-color);
  -webkit-transition: 0.2s ease-in color;
  transition: 0.2s ease-in color;
}
.nav__link:hover {
  color: var(--orange-color);
}

.list-btn__item {
  padding: 12px 24px;
}

.hero {
  margin-top: 55px;
  margin-bottom: 180px;
  position: relative;
  padding-bottom: 74px;
}
.hero__section-name {
  display: inline-block;
  margin-bottom: 14px;
}
.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__title {
  font-size: 5.2rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 67px;
  padding-right: 35px;
}
.hero__title span {
  color: var(--orange-dark-color);
}
.hero__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 382px;
          flex: 0 0 382px;
  margin-top: 8px;
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 0.13px;
}
.hero-form {
  max-width: 445px;
  margin-top: 68px;
}
.hero__image {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
          width: 90%;
          height: 90%;
          margin-left: 5%;
          margin-bottom: -100px;

}



.page-space {
  margin-bottom: 88px;
}
.page-space__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
}
.page-space__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.3;
}
.page-space__subtitle {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 15px;
  letter-spacing: 0.15px;
  line-height: 1.5;
}

.spaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spaces__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.33% - 20px);
          flex: 0 0 calc(33.33% - 20px);
  position: relative;
  min-width: 300px;
}
.spaces__item :hover.spaces-hover {
  opacity: 1;
}
.spaces-cover {
  width: 100%;
  height: 419px;
  position: relative;
  overflow: hidden;
}
.spaces-cover__img {
  width: 100%;
  height: 419px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.spaces-cover__link {
  height: 72px;
  width: 72px;
  background-color: var(--orange-color);
  background-image: url("../img/chevron-down.svg");
  background-size: 30px 30px;
  background-position: center center;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.spaces-hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 95%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/lines.svg");
  background-size: 90px 90px;
  background-position: 94% 16px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out opacity;
  transition: 0.3s ease-in-out opacity;
}
.spaces-hover__title {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 14px;
  line-height: 1.5;
}
.spaces-hover__text {
  font-size: 1.6rem;
  font-family: var(--font-family-Lato);
}
.spaces-hover__link {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white-color);
  padding: 25px 80px 25px 55px;
  background-color: var(--orange-color);
  border-top: 0.1px solid var(--orange-color);
  border-right: 0.1px solid var(--orange-color);
  background-image: url("../img/chevron-down.svg");
  background-size: 30px 30px;
  background-position: 91% center;
  display: block;
  background-repeat: no-repeat;
  font-size: 1.8rem;
  font-family: var(--font-family-Lato);
}
.spaces-title {
  font-size: 2rem;
  font-family: var(--font-family-Lato);
  text-align: center;
  padding: 27px;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "rooms events sidebar sidebar" "countries wifi sidebar sidebar" "startup comunity sidebar sidebar";
  margin-bottom: 110px;
}
.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
}
.about-item__rooms {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: rooms;
}
.about-item__rooms .about-item__title:before {
  background-image: url("../img/meeting-room1.svg");
}
.about-item__events {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: events;
}
.about-item__events .about-item__title {
  padding-left: 55px;
}
.about-item__events .about-item__title:before {
  background-image: url("../img/circus1.svg");
  left: 10px;
}
.about-item__countries {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: countries;
}
.about-item__countries .about-item__title {
  padding-left: 48px;
}
.about-item__countries .about-item__title:before {
  background-image: url("../img/Vector4.svg");
}
.about-item__wifi {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: wifi;
}
.about-item__wifi .about-item__title {
  padding-left: 65px;
}
.about-item__wifi .about-item__title:before {
  background-image: url("../img/wifi1.svg");
  left: 10px;
}
.about-item__startup {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: startup;
}
.about-item__startup .about-item__title {
  padding-left: 27px;
}
.about-item__startup .about-item__title:before {
  background-image: url("../img/user2.svg");
}
.about-item__comunity {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: comunity;
}
.about-item__comunity .about-item__title {
  padding-left: 34px;
}
.about-item__comunity .about-item__title:before {
  background-image: url("../img/User.svg");
  left: 10px;
}
.about-item__sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: sidebar;
  background-color: var(--blue-color);
  padding: 60px 54px 56px 69px;
  color: var(--white-color);
}
.about-item__sidebar .section-name,
.about-item__sidebar .title {
  color: var(--black-white);
  margin-bottom: 8px;
}
.about-item__sidebar .section-name::after,
.about-item__sidebar .title::after {
  background-color: var(--white-color);
}
.about-item__sidebar .title {
  margin-bottom: 24px;
}
.about-item__title {
  font-size: 1.6rem;
  color: var(--grey-subtitle);
  font-family: var(--font-family-Lato);
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}
.about-item__title:before {
  content: " ";
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 5px;
}
.about-item__title span {
  display: block;
  font-family: var(--font-family-Lora);
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--blue-color);
  text-align: center;
  padding-bottom: 11px;
}
.about-item__text {
  font-size: 2rem;
  font-family: var(--font-family-Lato);
  line-height: 30px;
  font-weight: 500;
  word-spacing: 1px;
}

.page-clients {
  margin-bottom: 110px;
}
.page-clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-clients__title {
  margin-bottom: 30px;
}
.page-clients__subtitle {
  margin-bottom: 74px;
}
.page-clients__list {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 4% 180px 4% 120px 4% 170px 4% 146px 4% 140px;
  grid-template-columns: 120px 180px 120px 170px 146px 140px;
  gap: 4%;
}
.page-clients__item {
  width: 100%;
}
.page-clients__img {
  height: 40px;
}

.page-help__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-help__title {
  margin-bottom: 57px;
  line-height: 1.2;
  text-align: center;
}
.page-help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}
.page-help__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333%-20px);
          flex: 0 0 calc(33.333%-20px);
  padding: 41px 40px 63px;
  position: relative;
  z-index: 0;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(223, 223, 223, 0.5);
          box-shadow: 0px 0px 24px 0px rgba(223, 223, 223, 0.5);
  color: var(--black-color);
  -webkit-transition: 0.2s ease background-color, 0.2s ease color;
  transition: 0.2s ease background-color, 0.2s ease color;
}
.page-help__item:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.page-help__item:hover .page-help__item-link {
  background-color: var(--white-color);
  background-image: url("../img/chevron down-orange.svg");
  -webkit-box-shadow: 0px 0px 34px 0px rgba(221, 44, 0, 0.24);
          box-shadow: 0px 0px 34px 0px rgba(221, 44, 0, 0.24);
}
.page-help__item-link {
  display: block;
  width: 65px;
  height: 50px;
  background-color: var(--orange-color);
  background-image: url("../img/chevron down-white.svg");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  margin: 0 auto;
  -webkit-transition: 0.2s ease background-image, 0.2s ease background-color;
  transition: 0.2s ease background-image, 0.2s ease background-color;
}
.page-help__text {
  font-family: var(--font-family-Lora);
  font-size: 2.6rem;
  line-height: 3.3rem;
  text-align: center;
  max-width: 270px;
  width: 100%;
}
.page-help__link {
  margin-bottom: 40px;
}

.page-blog {
  padding-top: 60px;
  padding-bottom: 96px;
  background-color: #fafafa;
  margin-bottom: 3px;
}
.page-blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}
.page-blog__link {
  line-height: 39px;
  padding-top: 10px;
  letter-spacing: -0.4px;
}
.page-blog .blog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.page-blog .blog__item {
  background-color: var(--white-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-blog .blog__item.main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.page-blog .blog__item.main .blog__item-img {
  height: 100%;
  width: calc(50% - 15px);
}
.page-blog .blog__item.main .blog__item-image {
  height: 100%;
}
.page-blog .blog__item.main .blog__item-text {
  padding: 30px;
  max-width: calc(50% - 15px);
}
.page-blog .blog__item.main .blog__item-title {
  font-size: 3.2rem;
  line-height: 41px;
  font-weight: 900;
  margin-bottom: 25px;
}
.page-blog .blog__item.main .blog__item-resume {
  font-size: 1.6rem;
  line-height: 26px;
  color: var(--grey-subtitle);
  margin-bottom: 15px;
}
.page-blog .blog__item-img {
  width: 100%;
  height: 204px;
  position: relative;
  overflow: hidden;
}
.page-blog .blog__item-image {
  width: 100%;
  height: 204px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.page-blog .blog__item-text {
  padding: 13px 16px 15px;
  max-width: 345px;
}
.page-blog .blog__item-title {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-family: var(--font-family-Lora);
  margin-bottom: 3px;
}
.page-blog .blog__item-name {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--grey-subtitle);
  font-family: var(--font-family-Lato);
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.author__photo {
  margin-right: 23px;
}
.author__img {
  width: 56px;
  height: 56px;
}
.author__text {
  font-family: var(--font-family-Lato);
}
.author__name {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--blue-color);
}
.author__position {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--grey-subtitle);
}

.page-member {
  background-color: var(--blue-color);
}
.page-member .section-name:after {
  background-color: var(--white-color);
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.member-item {
  max-width: 445px;
}
.member-item__img {
  padding-right: 84px;
  padding-right: 84px;
  margin-right: 22px;
}
.member__name {
  color: #f8f8f8;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-bottom: 11px;
  margin-top: 74px;
  letter-spacing: 0.2px;
}
.member__title {
  color: var(--white-color);
  margin-bottom: 1.6rem;
  line-height: 51px;
}
.member__text {
  color: #dfdfdf;
  margin-bottom: 50px;
  font-size: 2rem;
  line-height: 3rem;
  font-family: var(--font-family-Lato);
  letter-spacing: 0.1px;
}
.member__btn {
  color: var(--white-color);
  padding: 15px 115px;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: var(--font-family-Lato);
}
.member__btn:hover {
  border: 0.1px solid var(--orange-color);
  padding: 14px 114px;
}
.member__img {
  max-width: 382px;
}

.footer {
  background-color: var(--blue-dark-color);
  color: var(--white-color);
  font-family: var(--font-family-Lato);
}
.footer__box {
  padding-top: 30px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4% 145px 4% 90px 4% 100px 4% 220px;
  grid-template-columns: 1fr 145px 90px 100px 220px;
  gap: 4%;
}
.footer-item__logo {
  margin-bottom: 9px;
  display: block;
  width: 100%;
  height: 67px;
}
.footer-item__img {
  width: 181px;
  height: 67px;
}
.footer-item__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 24px;
  max-width: 255px;
  letter-spacing: 0.1px;
}
.footer-list {
  margin-top: 23px;
}
.footer-list__title {
  color: var(--grey-subtitle);
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;
}
.footer-list__item {
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.footer-list__link {
  color: var(--white-color);
  -webkit-transition: 0.2s ease color;
  transition: 0.2s ease color;
}
.footer-list__link:hover {
  color: var(--orange-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.social__item {
  margin-right: 16px;
}
.social__item:last-child {
  margin-right: 0px;
}
.social__link-img {
  fill: var(--white-color);
  -webkit-transition: 0.2s ease-in-out fill;
  transition: 0.2s ease-in-out fill;
}
.social__link-img:hover {
  fill: var(--orange-color);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-radius: 4px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  padding: 30px 20px;
}
.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.modal.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 39px;
  font-weight: 400;
  position: absolute;
  padding: 0;
  right: 11px;
  top: 0;
}
.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 992px) {
  .title {
    font-size: 28px;
  }

  .header__nav {
    max-width: 560px;
    width: 100%;
    margin-left: 25px;
  }

  .hero__title {
    font-size: 4.2rem;
  }
  .hero__image {
    max-width: 93%;
  }
  .hero__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__subtitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .about-item__wifi .about-item__title {
    padding-left: 50px;
  }

  .about-item__text {
    font-size: 1.8rem;
  }

  .page-clients__list {
    -ms-grid-columns: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
  }

  .page-clients__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-clients__img {
    max-width: 100%;
  }

  .blog__item.main .blog__item-img {
    height: 180px;
  }
  .blog__item.main .blog__item-text {
    padding: 15px 30px;
  }
  .blog__item.main .blog__item-text .blog__item-title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  .page-member,
.footer {
    padding: 0px 15px;
  }

  .footer__box {
    -ms-grid-columns: 1fr 140px 85px 90px 180px;
    grid-template-columns: 1fr 140px 85px 90px 180px;
  }

  .footer-list__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 18px;
  }

  .footer-list__item {
    font-size: 1.4rem;
    line-height: 3.2rem;
  }
}
@media (max-width: 895px) {
  .header__nav,
.list-btn {
    display: none;
  }

  .page-space__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .spaces {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .page-help__text {
    font-size: 2rem;
    line-height: 3rem;
  }

  .page-blog__title {
    padding-right: 40px;
    width: 70%;
  }

  .page-blog .blog__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .member__btn {
    padding: 15px 60px;
  }

  .member-item__img {
    padding-right: 24px;
    margin-right: 10px;
  }

  .footer__box {
    grid-template-columns: repeat(auto-fill, 200px);
    padding-bottom: 190px;
  }

  .modal .header__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.6em;
  }
  .modal.control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  .modal.nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 2em;
  }
  .modal.nav__item {
    margin-bottom: 20px;
  }

  .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 39px;
    font-weight: 400;
    position: absolute;
    padding: 0;
    right: 11px;
    top: 0;
  }

  .menu {
    background-color: var(--white-color);
    border: 1px solid transparent;
    padding: 13px 11px;
    border-radius: 2%;
    -webkit-transition: 0.2s ease border;
    transition: 0.2s ease border;
    cursor: pointer;
  }
  .menu-item {
    display: block;
    width: 29px;
    height: 2px;
    background-color: var(--blue-color);
    margin-bottom: 8px;
  }
  .menu-item:last-child {
    margin-bottom: 0;
  }
  .menu:hover {
    background-color: var(--orange-color);
  }
  .menu:hover .menu-item {
    background-color: var(--white-color);
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[6];
    grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "rooms events" "countries wifi" "startup comunity" "sidebar sidebar" "sidebar sidebar" "sidebar sidebar";
    margin-bottom: 110px;
  }
  .about-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-help__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .page-help__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4em;
  }

  .page-clients__list {
    grid-template-columns: repeat(auto-fill, 150px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .author {
    display: none;
  }

  .member {
    padding-bottom: 60px;
  }
  .member-item__img {
    display: none;
  }

  .about-item__rooms {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .about-item__events {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .about-item__countries {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .about-item__wifi {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .about-item__startup {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .about-item__comunity {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .about-item__sidebar {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
@media (max-width: 560px) {
  .hero {
    margin-bottom: 0;
  }
  .hero__image {
    display: none;
  }

  .page-clients__subtitle {
    text-align: center;
  }

  .form {
    padding: 30px;
  }
  .form__title {
    font-size: 3rem;
    margin-bottom: 25px;
  }

  .blog__item.main {
    display: none;
  }
}